<app-modal [title]="'Product added to cart'">
    <div content>
        <div class="row justify-content-between">
            <div class="col flex-grow-0">
                <button mat-raised-button type="button" color="accent" class="medium" routerLink="/games" (click)="dialogRef.close()"><mat-icon>games</mat-icon> Continue shopping</button>
            </div>
            <div class="col flex-grow-0">
                <button mat-raised-button type="button" color="primary" class="medium" routerLink="/cart" (click)="dialogRef.close()"><mat-icon>shopping_cart</mat-icon> Go to cart</button>
            </div>
        </div>
    </div>
</app-modal>
