<mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step label="Cart" [editable]="false" [completed]="step > 1"></mat-step>
    <mat-step label="Payment" [editable]="false" [completed]="step > 2"></mat-step>
    <mat-step label="Summary" [editable]="false" [completed]="step > 3"></mat-step>
</mat-horizontal-stepper>
