<div class="container-fluid" *ngIf="product">
    <h1 class="product-title">{{ product.title }}</h1>
    <mat-divider></mat-divider>
    <br><br>
    <div class="row">
        <div class="col-lg-6 text-center text-lg-left mb-5 mb-lg-0">
            <img [src]="product.image" alt="" class="img-fluid product-image">
        </div>
        <div class="col-lg-6">
            <div class="card buy-container border-primary">
                <div class="card-header bg-accent">
                    {{ product.title }}
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="card-body text-dark">
                        <p class="card-text">{{ product.intro }}</p>
                        <br>
                        <p class="text-primary price"><b>{{ product.price }} PLN</b></p>
                        <br>
                        <app-text-input [form]="form" name="amount" [messages]="messages" displayName="Amount" type="number" [light]="true"></app-text-input>
                        <small class="text-muted">Available: {{ product.availability }}</small>
                        <br>
                        <br>
                        <button type="submit" color="accent" class="medium" mat-raised-button [disabled]="inProgress"><mat-icon>add_shopping_cart</mat-icon>Add to cart</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card border-primary details-container">
                <div class="card-header bg-primary">
                    Details
                </div>
                <ul class="list-group list-group-flush text-dark">
                    <li class="list-group-item"><i>Title: {{ product.title }}</i></li>
                    <li class="list-group-item"><i>Manufacturer: {{ product.manufacturer }}</i></li>
                    <li class="list-group-item"><i>Premiere: {{ product.premiere | date: "yyyy-MM-dd" }}</i></li>
                    <li class="list-group-item"><i>Age category {{ product.age_category }}</i></li>
                    <li class="list-group-item"><i>Languages: {{ product.languages.join(", ") }}</i></li>
                    <li class="list-group-item"><i>Game modes: {{ product.game_modes.join(", ") }}</i></li>
                    <li class="list-group-item"><i>Release type: {{ product.release_type }}</i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="description" [innerHTML]="product.description"></div>
        </div>
    </div>
</div>
