@import "src/scss/theme";
.product-card
{
    margin-bottom: 30px;
    border: none;
    box-shadow: 1px 1px 5px $primary;
    max-width: 400px;
    height: 100%;
    .product-image
    {
        width: auto;
        height: 200px;
    }
    .card-title
    {
        margin-bottom: 0;
    }
    .product-price
    {
        color: $warn;
        font-size: 20px;
    }
    &:hover
    {
        box-shadow: 1px 1px 5px $accent;
        .card-header
        {
            background: $accent !important;
        }
    }
}
