<app-modal [title]="'Reset password'">
    <div content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-text-input [form]="form" name="email" [messages]="messages" displayName="Email" type="text"></app-text-input>
            <br>
            <div class="row">
                <div class="col">
                    <button type="submit" color="primary" class="medium" mat-raised-button [disabled]="inProgress"><mat-icon>send</mat-icon> Reset password</button>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col flex-grow-0">
                    <button mat-button class="mt-2" type="button" (click)="onLoginModal()"><mat-icon>arrow_back</mat-icon> Back to login</button>
                </div>
            </div>
        </form>
    </div>
</app-modal>
