<div class="header" style="background: url('assets/images/contact.jpg')">
    <div class="title">Contact us</div>
</div>

<div class="container-fluid content">
    <div class="row">
        <div class="col-lg-6">
            <div class="details-container bg-accent">
                <h3 class="mb-0">Power Games</h3>
                <p class="mb-0">Adrian Maślerz</p>
                <p class="mb-0">Tel: +48 839-478-432</p>
                <p class="mb-0">Henryka Sienkiewicza 105a</p>
                <p class="mb-0">30-033 Cracow</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-container">
                <h3>Send contact message</h3>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <app-text-input [form]="form" name="email" [messages]="messages" displayName="Email" type="text"></app-text-input>
                    <app-text-input [form]="form" name="subject" [messages]="messages" displayName="Subject" type="text"></app-text-input>
                    <app-textarea-input [form]="form" name="message" [messages]="messages" displayName="Message"></app-textarea-input>
                    <button type="submit" color="primary" class="large" mat-raised-button [disabled]="inProgress"><mat-icon>send</mat-icon> Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
