<h1>Edit profile</h1>
<a routerLink="/logged/profile" mat-button class="back-button"><mat-icon>arrow_left</mat-icon> Back</a>
<br>
<br>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-6">
            <app-text-input [form]="form" name="first_name" [messages]="messages" displayName="First name" type="text"></app-text-input>
        </div>
        <div class="col-6">
            <app-text-input [form]="form" name="last_name" [messages]="messages" displayName="Last name" type="text"></app-text-input>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-text-input [form]="form" name="phone_number" [messages]="messages" displayName="Phone number" type="text"></app-text-input>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-text-input [form]="form" name="postal_code" [messages]="messages" displayName="Postal code" type="text"></app-text-input>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-text-input [form]="form" name="address_line_1" [messages]="messages" displayName="Address line 1" type="text"></app-text-input>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-text-input [form]="form" name="address_line_2" [messages]="messages" displayName="Address line 2" type="text"></app-text-input>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-text-input [form]="form" name="city" [messages]="messages" displayName="City" type="text"></app-text-input>
        </div>
        <div class="col-6">
            <app-text-input [form]="form" name="country" [messages]="messages" displayName="Country" type="text"></app-text-input>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button type="submit" color="primary" class="medium" mat-raised-button [disabled]="inProgress"><mat-icon>send</mat-icon> Update</button>
        </div>
    </div>
</form>
