.drawer-container {
    width: 100%;
}

.drawer-sidenav {
    position: fixed;
    width: 300px;
    top: 56px;
    bottom: 0;
    padding: 20px 10px 30px;
}

.sidenav-content {
    min-height: calc(100vh - 64px);
    padding: 30px 20px 60px;
}
.menu-toggler
{
    margin-left: -10px;
}
