<form [formGroup]="form">
    <mat-drawer-container class="drawer-container" autosize>
        <mat-drawer #drawer class="drawer-sidenav" mode="side">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col">
                        <h2>Filters</h2>
                    </div>
                    <div class="col flex-grow-0">
                        <small>
                            <mat-icon>filter_alt</mat-icon>
                        </small>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <br>
                <div class="row">
                    <div class="col">
                        <app-categories-widget
                            (selectedCategory)="onSelectedCategory($event)"
                            [parent]="category"
                        ></app-categories-widget>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <br>
                <h4>Price</h4>
                <div class="row">
                    <div class="col-6">
                        <app-text-input [form]="form" name="price_from" displayName="From" type="number"></app-text-input>
                    </div>
                    <div class="col-6">
                        <app-text-input [form]="form" name="price_to" displayName="To" type="number"></app-text-input>
                    </div>
                </div>
                <h4>Premiere</h4>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="d-block">
                            <mat-label>Enter date range</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input matStartDate [formControl]="form.get('premiere_from')" [placeholder]="'From'" [ngClass]="formUtils.handleValidationStateClass(form, 'premiere_from')">
                                <input matEndDate [formControl]="form.get('premiere_to')" [placeholder]="'To'" [ngClass]="formUtils.handleValidationStateClass(form, 'premiere_to')">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                </div>
                <h4>Age category</h4>
                <div class="row">
                    <div class="col">
                        <app-select-input
                            [form]="form"
                            [multiple]="true"
                            name="age_categories"
                            displayName="Age category"
                            [data]="ageCategories"
                        ></app-select-input>
                    </div>
                </div>
                <h4>Language</h4>
                <div class="row">
                    <div class="col">
                        <app-select-input
                            [form]="form"
                            [multiple]="true"
                            name="languages"
                            displayName="Language"
                            [data]="languages"
                        ></app-select-input>
                    </div>
                </div>
                <h4>Game mode</h4>
                <div class="row">
                    <div class="col">
                        <app-select-input
                            [form]="form"
                            [multiple]="true"
                            name="game_modes"
                            displayName="Game mode"
                            [data]="gameModes"
                        ></app-select-input>
                    </div>
                </div>
                <h4>Release type</h4>
                <div class="row">
                    <div class="col">
                        <app-select-input
                            [form]="form"
                            [multiple]="true"
                            name="release_types"
                            displayName="Release type"
                            [data]="releaseTypes"
                        ></app-select-input>
                    </div>
                </div>
                <button mat-raised-button color="accent" (click)="onClear()"><mat-icon>close</mat-icon>Clear</button>
            </div>
        </mat-drawer>

        <div class="sidenav-content">
            <div class="container-fluid">
                <button mat-icon-button type="button" (click)="drawer.toggle()" class="menu-toggler"><mat-icon>menu</mat-icon></button>
                <br>
                <h1>Games</h1>
                <div class="row">
                    <div class="col flex-grow-0">
                        <app-text-input [form]="form" name="search" displayName="Search" type="text"></app-text-input>
                    </div>
                    <div class="col flex-grow-0">
                        <app-select-input
                            [form]="form"
                            name="sort"
                            displayName="Sort"
                            [data]="sorts"
                            nameKey="name"
                            valueKey="value"
                            (changed)="onSort()"
                        ></app-select-input>
                    </div>
                </div>
                <br><br>
                <div class="results-container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
                    <div class="row" *ngIf="products.length; else noData">
                        <div *ngFor="let product of products" class="col-xl-3 col-lg-4 mb-3">
                            <app-game-tile [product]="product"></app-game-tile>
                        </div>
                    </div>
                    <ng-template #noData>
                        <p>No results</p>
                    </ng-template>
                </div>
            </div>
        </div>

    </mat-drawer-container>
</form>

