<h1>Profile</h1>
<div class="card">
    <div class="card-body text-dark">
        <div class="row">
            <div class="col-6" *ngIf="user">
                <h4><b>{{ user.first_name }} {{ user.last_name }}</b></h4>
                <hr>
                <p class="text-muted">{{ user.email }}</p>
                <p class="text-muted">{{ user.phone_number }}</p>
                <p class="text-muted">{{ user.address.address_line_1 }} {{ user.address.address_line_2 }}</p>
                <p class="text-muted">{{ user.address.postal_code }} {{ user.address.city }}</p>
                <p class="text-muted">{{ user.address.country }}</p>
                <br>
                <br>
            </div>
            <div class="col-6">
                <a routerLink="/logged/profile/edit" mat-button><mat-icon>create</mat-icon> Edit profile</a><br>
                <a routerLink="/logged/profile/change-email" mat-button><mat-icon>email</mat-icon> Change email</a><br>
                <a routerLink="/logged/profile/change-password" mat-button><mat-icon>lock</mat-icon> Change password</a>
            </div>
        </div>
    </div>
</div>
