<app-modal [title]="'Change password'">
    <div content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-text-input [form]="form" name="password" [messages]="messages" displayName="Password" type="password"></app-text-input>
            <app-text-input [form]="form" name="repeated_password" [messages]="messages" displayName="Repeated password" type="password"></app-text-input>
            <br>
            <div class="row">
                <div class="col">
                    <button type="submit" color="primary" class="medium" mat-raised-button [disabled]="inProgress"><mat-icon>lock</mat-icon> Change password</button>
                </div>
            </div>
            <br>
        </form>
    </div>
</app-modal>
