<mat-form-field class="d-block" >
    <mat-label>{{displayName}}</mat-label>
    <mat-select
        *ngIf="multiple"
        [formControl]="form.get(name)"
        multiple
        [ngClass]="formUtils.handleValidationStateClass(form, name)"
        (selectionChange)="onChange()"
    >
        <mat-option *ngFor="let item of data" [value]="getValue(item)">
            {{ getName(item) }}
        </mat-option>
    </mat-select>
    <mat-select
        *ngIf="!multiple"
        [formControl]="form.get(name)"
        [ngClass]="formUtils.handleValidationStateClass(form, name)"
        (selectionChange)="onChange()"
    >
        <mat-option *ngFor="let item of data" [value]="getValue(item)">
            {{ getName(item) }}
        </mat-option>
    </mat-select>
    <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, name, messages) }}</span>
</mat-form-field>
