<section>
    <h4>Categories</h4>
    <div class="parent-container" *ngIf="parent">
        <div class="row between">
            <div class="col text-warn">
                {{ parent?.title }}
            </div>
            <div class="col-4 end">
                <mat-icon color="warn" class="pointer" (click)="onCategoryChosen(null)">close</mat-icon>
            </div>
        </div>
    </div>
    <mat-list role="list">
        <a mat-list-item matRipple href="javascript:void(0)" *ngFor="let category of categories" (click)="onCategoryChosen(category)">
            <div class="row between w-100">
                <span class="col">{{ category.title }}</span>
                <span class="col-2 end">
                    <small>({{ category.products_count}})</small>
                </span>
            </div>
        </a>
    </mat-list>
    <div class="row end" *ngIf="total > categories.length">
        <div class="col">
            <button mat-button color="warn" (click)="onLoadMore()">See more</button>
        </div>
    </div>
</section>
