<footer class="bg-primary">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            &copy; Copyrigt Adrian Maślerz
        </div>
        <div class="col-lg-4 text-lg-right mt-3 mt-lg-0">
            <h3 class="mb-0">Power Games</h3>
            <p class="mb-0">Henryka Sienkiewicza 105a</p>
            <p class="mb-0">30-033 Cracow</p>
        </div>
    </div>
</footer>
