<app-modal [title]="'Sign up'">
    <div content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <app-text-input [form]="form" name="email" [messages]="messages" displayName="Email" type="text"></app-text-input>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <app-text-input [form]="form" name="password" [messages]="messages" displayName="Password" type="password"></app-text-input>
                </div>
                <div class="col-6">
                    <app-text-input [form]="form" name="repeated_password" [messages]="messages" displayName="Repeated password" type="password"></app-text-input>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <app-text-input [form]="form" name="first_name" [messages]="messages" displayName="First name" type="text"></app-text-input>
                </div>
                <div class="col-6">
                    <app-text-input [form]="form" name="last_name" [messages]="messages" displayName="Last name" type="text"></app-text-input>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-text-input [form]="form" name="phone_number" [messages]="messages" displayName="Phone number" type="text"></app-text-input>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-text-input [form]="form" name="postal_code" [messages]="messages" displayName="Postal code" type="text"></app-text-input>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-text-input [form]="form" name="address_line_1" [messages]="messages" displayName="Address line 1" type="text"></app-text-input>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-text-input [form]="form" name="address_line_2" [messages]="messages" displayName="Address line 2" type="text"></app-text-input>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <app-text-input [form]="form" name="city" [messages]="messages" displayName="City" type="text"></app-text-input>
                </div>
                <div class="col-6">
                    <app-text-input [form]="form" name="country" [messages]="messages" displayName="Country" type="text"></app-text-input>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <button type="submit" color="primary" class="medium" mat-raised-button [disabled]="inProgress"><mat-icon>send</mat-icon> Register</button>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col flex-grow-0">
                    <button mat-button class="mt-2" type="button" (click)="onLoginModal()"><mat-icon>arrow_back</mat-icon> Back to login</button>
                </div>
            </div>
        </form>
    </div>
</app-modal>
