<h1>Details</h1>
<a routerLink="/logged/orders" mat-button class="back-button"><mat-icon>arrow_left</mat-icon> Back</a>
<br>
<br>
<div class="row mb-5" *ngIf="order && payment">
    <div class="col-lg-4 order-lg-1">
        <div class="card">
            <div class="card-body text-dark">
                <div class="row text-accent">
                    <div class="col"><h4><b>Total:</b></h4></div>
                    <div class="col"><h4><b>{{ order.total }} PLN</b></h4></div>
                </div>
                <div class="row">
                    <div class="col">Order placed:</div>
                    <div class="col">{{ order.created | date: "yyyy-MM-dd HH:mm:ss" }}</div>
                </div>
                <div class="row">
                    <div class="col">Products count:</div>
                    <div class="col">{{ order.products_count }}</div>
                </div>
                <div class="row">
                    <div class="col">Pieces count:</div>
                    <div class="col">{{ order.pieces_count }}</div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
    <div class="col-lg-8 order-lg-0">
        <h2>Payment details</h2>
        <div class="row">
            <div class="col">Payment date:</div>
            <div class="col">{{ payment.created | date: "yyyy-MM-dd HH:mm:ss" }}</div>
        </div>
        <div class="row">
            <div class="col">Payment description:</div>
            <div class="col">{{ payment.description }}</div>
        </div>
        <div class="row">
            <div class="col">Card:</div>
            <div class="col">**** **** **** {{ payment.card.last_4 }} ({{ payment.card.brand }} - {{ payment.card.exp_month }}/{{ payment.card.exp_year }})</div>
        </div>
        <div class="row text-accent">
            <div class="col"><b>Paid:</b></div>
            <div class="col"><b>{{ payment.amount }} PLN</b></div>
        </div>
        <div class="row">
            <div class="col">Email:</div>
            <div class="col">{{ order.user_details.email }}</div>
        </div>
        <div class="row">
            <div class="col">Fist name:</div>
            <div class="col">{{ order.user_details.first_name }}</div>
        </div>
        <div class="row">
            <div class="col">Last name:</div>
            <div class="col">{{ order.user_details.last_name }}</div>
        </div>
        <div class="row">
            <div class="col">Phone number:</div>
            <div class="col">{{ order.user_details.phone_number }}</div>
        </div>
        <div class="row">
            <div class="col">Postal code:</div>
            <div class="col">{{ order.user_details.address.postal_code }}</div>
        </div>
        <div class="row">
            <div class="col">Address line 1:</div>
            <div class="col">{{ order.user_details.address.address_line_1 }}</div>
        </div>
        <div class="row">
            <div class="col">Address line 2:</div>
            <div class="col">{{ order.user_details.address.address_line_2 }}</div>
        </div>
        <div class="row">
            <div class="col">City:</div>
            <div class="col">{{ order.user_details.address.city }}</div>
        </div>
        <div class="row">
            <div class="col">Country:</div>
            <div class="col">{{ order.user_details.address.country }}</div>
        </div>
    </div>
</div>
<div class="row" *ngIf="order && payment && forms">
    <div class="col">
        <h2>Products</h2>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Price per piece</th>
                <th scope="col">Amount</th>
                <th scope="col">Total price</th>
                <th scope="col">Codes</th>
                <th scope="col">Review</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let form of forms; let i = index;">
                <td>
                    <img [src]="order.items[i].product.image" alt="" class="img-thumbnail product-image">
                </td>
                <td>{{ order.items[i].product.title }}</td>
                <td>{{ order.items[i].product.price }} PLN</td>
                <td>{{ order.items[i].codes.length }}x</td>
                <td>{{ order.items[i].product.price * order.items[i].codes.length }} PLN</td>
                <td>{{ order.items[i].codes.join(", ")}}</td>
                <td>
                    <form [formGroup]="form" (ngSubmit)="onSubmit(form, order.items[i])" *ngIf="!order.items[i].review">
                        <div class="rating">
                            <input type="radio" formControlName="rate" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" formControlName="rate" value="4" id="4"><label for="4">☆</label>
                            <input type="radio" formControlName="rate" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" formControlName="rate" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" formControlName="rate" value="1" id="1"><label for="1">☆</label>
                        </div>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, "rate", messages) }}</span>
                        <app-textarea-input [form]="form" name="description" [messages]="messages" displayName="Description"></app-textarea-input>
                        <button type="submit" color="primary" mat-raised-button [disabled]="inProgress"><mat-icon>add</mat-icon> Add</button>
                    </form>
                    <ng-container *ngIf="order.items[i].review">
                        <b>Rate: {{ order.items[i].review.rate }}</b>
                        <br>
                        {{ order.items[i].review.description }}
                    </ng-container>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
