<div class="logo-container">
    <h1 class="logo">
        <span>Power</span><mat-icon class="lightning">flash_on</mat-icon><span>Games</span>
    </h1>
</div>
<ngb-carousel *ngIf="carouselItems.length">
    <ng-container *ngFor="let item of carouselItems">
        <ng-template ngbSlide>
            <div class="img-wrapper">
                <img [src]="'assets/images/wallpapers/' + item.image" [alt]="item.title">
            </div>
            <div class="carousel-caption">
                <h2>{{ item.title }}</h2>
                <p>{{ item.description }}</p>
            </div>
        </ng-template>
    </ng-container>
</ngb-carousel>

<br><br><br>
<section class="tiles" *ngIf="newest.length">
    <h2 class="header">Newest</h2>
    <hr>
    <div class="row justify-content-center">
        <div *ngFor="let product of newest" class="col-md-4 col-sm-12">
            <app-game-tile [product]="product"></app-game-tile>
        </div>
    </div>
</section>

<section class="tiles" *ngIf="premieres.length">
    <h2 class="header">Premieres</h2>
    <hr>
    <div class="row justify-content-center">
        <div *ngFor="let product of premieres" class="col-md-4 col-sm-12">
            <app-game-tile [product]="product"></app-game-tile>
        </div>
    </div>
</section>

<section class="tiles" *ngIf="recommended.length">
    <h2 class="header">Recommended</h2>
    <hr>
    <div class="row justify-content-center">
        <div *ngFor="let product of recommended" class="col-md-4 col-sm-12">
            <app-game-tile [product]="product"></app-game-tile>
        </div>
    </div>
</section>

<section class="tiles" *ngIf="reviews.length">
    <h2 class="header">Reviews</h2>
    <hr>
    <div class="row">
        <div *ngFor="let review of reviews" class="col-md-4 col-sm-12">
            <div class="card review-card text-dark">
                <div class="card-header bg-accent">
                    <mat-icon *ngFor="let i of rates(review.review.rate)" class="star-icon">star</mat-icon>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ review.user.first_name }} {{ review.user.last_name }}</h5>
                    <p class="card-text">{{ review.review.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

