@import "src/styles";
::ng-deep {
    .carousel-item {
        transition: opacity 0.7s ease !important;
        position: absolute !important;
        display: block !important;
        opacity: 0;
    }

    .carousel-item.active {
        position: relative !important;
        opacity: 1;
    }
}
.img-wrapper
{
    height: 620px;
    width: 100%;
    text-align: center;
    img
    {
        width: 100%;
        height: 620px;
    }
}

.tiles
{
    margin: 20px auto 50px;
    padding: 20px 40px;
    width: 80%;
    .header
    {
        font-size: 25px;
    }
    hr
    {
        border-color: $white;
        margin-bottom: 50px;
    }

    @include media-breakpoint-down(lg)
    {
        width: 100%;
    }

    @include media-breakpoint-down(sm)
    {
        width: 100%;
        padding: 20px 20px;
    }
}

.review-card
{
    .card-header
    {
        background: $accent;
    }
    .star-icon
    {
        color: $yellow;
    }
}
.logo-container
{
    position: absolute;
    text-align: center;
    top: 255px;
    z-index: 9;
    width: 100%;
}
.logo
{
    font-style: italic;
    font-weight: bold;
    text-shadow: 6px 6px 5px $dark;
    font-size: 72px;
    .lightning
    {
        margin-left: -24px;
        margin-right: 90px;
        font-size: 130px;
        font-style: italic;
        vertical-align: -36px;
        color: $yellow;
    }
}
