<mat-form-field class="d-block">
    <mat-label>{{displayName}}</mat-label>
    <textarea autocomplete="off" matInput cols="30" [rows]="rows" [formControl]="form.get(name)" id="{{name}}" [placeholder]="displayName" [ngClass]="formUtils.handleValidationStateClass(form, name)"></textarea>
    <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, name, messages) }}</span>
</mat-form-field>
