@import '~@angular/material/theming';

@import '~@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-cyan);
$app-accent:  mat-palette($mat-deep-orange);
$app-warn:    mat-palette($mat-red);

$primary-app-theme: mat-dark-theme((
    color: (
        primary: $app-primary,
        accent: $app-accent,
        warn: $app-warn,
    )
));
@include angular-material-theme($primary-app-theme);

.light-theme
{
    $secondary-app-theme: mat-light-theme((
        color: (
            primary: $app-primary,
            accent: $app-accent,
            warn: $app-warn,
        )
    ));
    @include angular-material-theme($secondary-app-theme);
}

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
$dark: map_get($mat-dark-theme-background, "background");
$white: #FFF;
$yellow: yellow;
