<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" routerLink="/">
        <span>Power</span><mat-icon class="lightning">flash_on</mat-icon><span>Games</span>
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" [ngbCollapse]="isCollapsed">

        <ul class="navbar-nav mr-3">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" mat-button [routerLink]="'/'"><mat-icon>home</mat-icon> Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" mat-button [routerLink]="'/games'"><mat-icon>gamepad</mat-icon> Games</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" mat-button [routerLink]="'/cart'" *ngIf="cartElements.length > 0" [matBadge]="cartElements.length" matBadgeColor="accent"><mat-icon>shopping_cart</mat-icon> Cart</a>
                <a class="nav-link" mat-button [routerLink]="'/cart'" *ngIf="cartElements.length == 0"><mat-icon>shopping_cart</mat-icon> Cart</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" mat-button [routerLink]="'/contact'"><mat-icon>contact_page</mat-icon> Contact</a>
            </li>
            <li class="nav-item" *ngIf="!user">
                <a class="nav-link" mat-button (click)="onLoginModal()"><mat-icon>login</mat-icon> Sign in</a>
            </li>
            <li class="nav-item dropdown pointer" ngbDropdown *ngIf="user">
                <a class="nav-link" ngbDropdownToggle mat-button>
                    <mat-icon>account_circle</mat-icon> {{ user?.first_name }} {{ user?.last_name }}
                </a>
                <div ngbDropdownMenu class="dropdown-menu">
                    <a ngbDropdownItem routerLink="/logged/profile" mat-button><mat-icon>account_box</mat-icon> My account</a>
                    <a ngbDropdownItem routerLink="/logged/orders" mat-button><mat-icon>storefront</mat-icon> My orders</a>
                    <div class="dropdown-divider"></div>
                    <button ngbDropdownItem (click)="onLogout()" mat-button><mat-icon>outbond</mat-icon> Sign out</button>
                </div>
            </li>
        </ul>
    </div>
</nav>
